@model KutuphaneBS.Models.Entity.CEZA_UYE
@{
    ViewBag.Title = "CezaEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Ceza Kodu</label>
        <input type="number" class="form-control" name="Ceza_ID"

        <label>Üye Kodu</label>
        <input type="number" class="form-control" name="Uye_ID"

        <label>Ödeme Durumu</label>
        <input type="text" class="form-control" name="Odeme_Durumu"

    </div>
    <div style="margin-top:15px"
         <button class="btn btn-info" id="Btn1">Yeni Ceza Ekle</button>
    </div>
</form>
