@model KutuphaneBS.Models.Entity.CEZA
@{
    ViewBag.Title = "CezaTipiEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Ceza Tutarı</label>
        <input type="text" class="form-control" name="Ceza_Tutari"
    </div>
    <div style="margin-top:15px"
         <button class="btn btn-info" id="Btn1">Yeni Ceza Tipi Ekle</button>
    </div>
</form>
