@model KutuphaneBS.Models.Entity.ISTEK
@{
    ViewBag.Title = "IstekEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kitap Adı</label>
        <input type="text" class="form-control" name="Istek_Kitap_Adi"

        <label>Yazar Adı</label>
        <input type="text" class="form-control" name="Istek_Kitap_Yazari "
    </div>
    <div style="margin-top:15px"
         <button class="btn btn-info" id="Btn1">Yeni İstek Ekle</button>
    </div>
</form>
