@model KutuphaneBS.Models.Entity.YORUM
@{
    ViewBag.Title = "YorumEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kitap Kodu</label>
        <input type="text" class="form-control" name="Kitap_ID"

        <label>Üye Kodu</label>
        <input type="text" class="form-control" name="Uye_ID"
 
        <label>Yorum İçerik</label>
        <input type="text" class="form-control" name="Yorum_Icerik"

        <label>Tarih</label>
        <input type="text" class="form-control" name="Yorum_Tarih"
    </div>

    <div style="margin-top:15px"
         <button class="btn btn-info" id="Btn1">Yeni Yorum Ekle</button>
    </div>
</form>

