@model KutuphaneBS.Models.Entity.KUTUPHANE
@{
    ViewBag.Title = "KutuphaneEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kütüphane Ekle</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">

        <label>Kütüphane Adı</label>
        <input type="text" class="form-control" name="Kutuphane_Adi"

        <label>Adres</label>
        <input type="text" class="form-control" name="Kutuphane_Adres"

        <label>Telefon</label>
        <input type="text" class="form-control" name="Kutuphane_Telefon"

        <label>Web Sitesi</label>
        <input type="text" class="form-control" name="Kutuphane_Websitesi"

        <label>E-mail</label>
        <input type="text" class="form-control" name="Kutuphane_Websitesi"
              

    </div>
    <div style="margin-top:15px"
         <button class="btn btn-info" id="Btn1">Yeni Kütüphane Ekle</button>
    </div>
</form>

