
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>---------KÜTÜPHANE BİLGİ SİSTEMİMİZE HOŞ GELDİNİZ---------</h2>

<br /><br />Sevgili Kullanıcımız,
<br/>
İşlemlerinizi sol menüden gerçekleştirebilirsiniz..
<br />
Bol okumalı günler dileriz :)
<br />
<br />
"OKUMADIĞIN GÜN KARANLIKTASIN!"
