@model KutuphaneBS.Models.Entity.UYE
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üye Ekle</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">

        <label>Ad</label>
        <input type="text" class="form-control" name="Uye_Adi"

        <label>Soyad</label>
        <input type="text" class="form-control" name="Uye_Soyadi"

        <label>E-mail</label>
        <input type="text" class="form-control" name="Uye_Email"

        <label>Şifre</label>
        <input type="text" class="form-control" name="Uye_Password"

        <label>Telefon</label>
        <input type="text" class="form-control" name="Uye_Telefon"

        <label>Adres</label>
        <input type="text" class="form-control" name="Uye_Adres"

        <label>Eğitim</label>
        <input type="text" class="form-control" name="Uye_Egitim"


    </div>
    <div style="margin-top:15px"
         <button class="btn btn-info" id="Btn1">Yeni Üye Ekle</button>
    </div>
</form>


